@import "tailwindcss";

@font-face {
  font-family: 'CrimsonPro';
  src: url('./assets/fonts/CrimsonPro.ttf') format('truetype');
}

@font-face {
  font-family: 'RammettoOne';
  src: url('./assets/fonts/RammettoOne-Regular.ttf') format('truetype');
}

